.bb-checkbox {
  display: flex;
  flex-direction: row;

  label {
    flex: 2;
  }

  .bb-checkbox-title {
    float: left;
    margin-right: 15px;
  }

  .bb-checkbox-options {
    flex: 5;
    display: flex;

    .bb-checkbox-option {
      flex:1;

      input{
        margin-right: 10px;
      }

      label{
        font-weight: normal;
      }
    }
  }
}