.bb-color-picker {
  display: flex;
  flex-direction: row;

  label {
    flex: 1;
    margin: 0;
    line-height: 27px;
  }

  .bb-color-picker-container {
    flex: 3;

    input {
      color: #3e3e3e;
      min-width: 120px;
      outline: none;
    }
  }

}

.color-picker-wrapper .input-group .input-group-addon {
  border: 2px solid #fff!important;
  border-radius: 3px;
  height: 30px!important;
}

.color-picker-wrapper.color-picker-swatch-only .color-picker-input{
  display: none;
}
