.bb-color-picker {
  display: flex;
  flex-direction: row;

  label {
    flex: 1;
    margin: 0;
    line-height: 27px;
  }

  .bb-color-picker-container {
    flex: 3;

    input {
      color: #3e3e3e;
      min-width: 120px;
      outline: none;
    }
  }

}