<div class="bb-panel">
    <div class="bb-panel-header">
        <a href="javascript:" class="bb-panel-collapse" ng-click="panelExpanded = !panelExpanded">
            <i class="fa fa-angle-down" ng-if="panelExpanded"></i>
            <i class="fa fa-angle-right" ng-if="!panelExpanded"></i>
        </a>
        <h3 class="bb-panel-title">{{$ctrl.title}}</h3>
    </div>
    <div ng-slide-down="panelExpanded" lazy-render keep-alive duration="0.2">
        <div class="bb-panel-body" ng-transclude></div>
    </div>
</div>