<div class="bb-panel" ng-if="$ctrl.collapsible">
    <div class="bb-panel-header">
        <a href="javascript:" class="bb-panel-collapse" ng-click="panelExpanded = !panelExpanded">
            <i class="fa" ng-class="{'fa-angle-down': panelExpanded, 'fa-angle-right': !panelExpanded}"></i>
        </a>
        <h3 class="bb-panel-title">{{$ctrl.title}}</h3>
    </div>
    <div ng-slide-down="panelExpanded" keep-alive duration="0.2" style="height: 0;overflow: hidden;">
        <div class="bb-panel-body" ng-transclude></div>
    </div>
</div>

<div class="bb-panel" ng-if="!$ctrl.collapsible">
    <div class="bb-panel-header">
        <h3 class="bb-panel-title">{{$ctrl.title}}</h3>
    </div>
    <div class="bb-panel-body" ng-transclude></div>
</div>