<div class="bb-panel">
    <div class="bb-panel-header">
        <a href="javascript:" class="bb-panel-collapse" ng-click="panelExpanded = !panelExpanded">
            <i class="fa" ng-class="{'fa-angle-down': panelExpanded, 'fa-angle-right': !panelExpanded}"></i>
        </a>
        <h3 class="bb-panel-title">{{$ctrl.title}} {{json[$ctrl.name + '_test']}}</h3>
    </div>
    <div ng-slide-down="panelExpanded" keep-alive duration="0.2" style="height: 0;overflow: hidden;">
        <div class="bb-panel-body" ng-transclude>
            <number-spinner name="{{$ctrl.name}}_test"></number-spinner>
            <number-spinner name="{{$ctrl.name}}_test_parent" parent="true"></number-spinner>
            <number-spinner name="{{$ctrl.name}}_test_parent" parent="true"></number-spinner>
            <number-spinner name="{{$ctrl.name}}_test_parent" parent="true"></number-spinner>
        </div>
    </div>
</div>