.bb-number-slider {
  display: flex;
  flex-direction: row;
  clear: both;
  margin: 5px 0;

  .bb-number-slider-label {
    flex: 1;
    position: relative;

    label {
      position: absolute;
      bottom: 0;
    }
  }

  .bb-number-slider-container {
    flex: 3;
  }
}
